<nav class="black">

	<div class="nav-wrapper">
		<a herf="#" data-target="main-menu" class="button-collapse show-on-large sidenav-trigger"><i class="fa fa-bars"></i></a>
	<div class="center"><img src="/img/logo.png" width="100" height="60">

